$primary : #152331;
$bg-footer: rgba(20, 21, 57, 0.932);

@import "bootstrap/scss/bootstrap.scss";
@import "./scss/navbar";
@import "./scss/footer";
@import "./scss/home";
@import "./scss/auth";
@import "./scss/dashboard";
@import "./scss/screen-loader";

.custom-footer {
    background-color: $bg-footer;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/* Table Wrapper reset */
.custom-purple-table .ant-table-wrapper {
    padding: 0 !important;
}

/* Ant Design Title aur Footer Container Gap Fix */
.custom-purple-table .ant-table-title {
    padding: 14px 0 !important;
    overflow: hidden;
}

/* Table Header Color Change To Purple */
.custom-purple-table .ant-table-thead>tr>th {
    background-color: #31069c !important;
    /* Header ka Thoda Dark Purple Color */
    color: #ffffff !important;
    border-radius: 0 !important;
}

/* Table Header active / hover status colors */
// .custom-purple-table .an/

/* Table Borders color adjustments */
// .custom-purple-table .ant-table-container {
//     border-color: #722ed1 !important;
// }